html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: Arial, sans-serif;
}

.navigation a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	color: white;
	display: block;
	padding: 1em;
	text-align: center;
	text-decoration: none;
}

.navigation a:hover {
	background: darkblue;
}

.navigation {
	background: orangered;
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-flow: column wrap;
}


@media all and (min-width: 600px) {
	.navigation {
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.navigation a {
		border: none;
	}
}

@media all and (min-width: 800px) {
	.navigation {
		justify-content: flex-end;
	}
}
