*
{
    box-sizing: border-box;
}

html
{
    font-size: 100%;
}

body
{
    font-family: 'Merriweather', serif;
}

.skiplink
{
    font-size: .75rem;
    line-height: 6;

    position: absolute;
    top: 0;
    right: 100%;

    display: block;

    width: 10.94rem; /* 175px; */
    height: 4.69rem; /* 75px */
    padding-left: 1rem;

    color: #fff;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: rgb(251,0,81);
}

.skiplink:focus
{
    right: auto;
}

nav
{
    color: #eee;
    background-color: #222;
}

nav ul
{
    display: flex;

    margin: 0;
    padding: 0 2rem 0 0;

    list-style: none;

    justify-content: space-between;
    align-items: center;
}

nav ul li:nth-child(1)
{
    flex: 1;
}

nav ul li a
{
    display: inline-block;

    padding: 8px;

    text-decoration: none;

    color: #fff;
}

nav ul li a:hover
{
    text-decoration: underline;
}

.wrapper
{
    max-width: 43.75rem;
    margin: 0 auto;
}

.toc
{
    margin-bottom: 3rem;
}

main * + *
{
    margin-top: 1.5rem;
}

* + h2
{
    margin-top: 1.5em;
}

main * + *:not(p)
{
    margin: 3rem 0;
}

main p
{
    line-height: 1.5;
}

main a {
  text-decoration: none;
  text-shadow: 0.05em 0 0 #fff, -0.05em 0 0 #fff, 0 0.05em 0 #fff, 0 -0.05em 0 #fff, 0.1em 0 0 #fff, -0.1 0 0 #fff, 0 0.1 0 #fff, 0 -0.1em 0 #fff;
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-repeat: repeat-x;
  background-position: bottom 0.05em center;
  background-size: 100% 0.05em;
}

main a:hover,
main a:focus {
  background-color: #cef;
}

blockquote
{
    font-style: italic;

    padding-left: 1rem;

    color: #666;
    border-left: 5px solid lightgray;
}

figcaption
{
    font-size: .88rem;

    margin: .5rem 0 3rem !important;
}
