* { box-sizing: border-box; }
.parent {
  background-color: #BD10E0;
  display: flex;
  height: 300px;
}
.child {
  background-color: #F5A623;
  height: 100px;
  width: 100px;
  /*
  Just as we've used margin-left|right: auto in the past for horizontal alignment,
  with flexbox we can have the browser calculate margins on all four sides for absolute centering.
  This relies on the fact a margin set to `auto` in a flex container absorb extra space. So setting a vertical margin of auto will make the item perfectly centered in both axis.
  */
  margin: auto;
}
