html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Typesetting ------------------------------------------ */
@media (min-width: 87.5em) {
	html {
		/*
    On larger screens we increase the font size.
    Since our `.wrapper` max-width is based on rem units,
    when the font size increases, the max-width also increases.
    */
		font-size: 150%;
	}
}

/* ----------------------------------------------------- */

body {
	font-family: "Merriweather", serif;
}

img {
	max-width: 100%;
}

.wrapper {
	/* 700/16 */
	/* max-width: 43.75rem;  */
	max-width: 65ch;
	margin: 0 auto;
	padding: 0 3rem;
}

@media (min-width: 60em) {
	.wrapper {
		padding: 0;
	}
}

.skiplink {
	font-size: 0.75rem;
	line-height: 6;

	position: absolute;
	top: 0;
	right: 100%;

	display: block;

	width: 10.94rem;
	/* 175px; */
	height: 4.69rem;
	/* 75px */
	padding-left: 1rem;

	color: #fff;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: rgb(251, 0, 81);
}

.skiplink:focus {
	right: auto;
}

nav {
	color: #eee;
	background-color: #222;
}

nav ul {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0 2rem 0 0;

	list-style: none;

	justify-content: space-between;
	align-items: center;
}

@media (min-width: 60em) {
	nav ul {
		flex-direction: row;
	}
}

nav ul li:nth-child(1) {
	flex: 1;
}

nav ul li a {
	display: inline-block;

	padding: 0.5rem;

	text-decoration: none;

	color: #fff;
}

nav ul li a:hover {
	text-decoration: underline;
}

.toc {
	margin-bottom: 3rem;
}

/* Inside `main`, everything that follows everything. */
main *+* {
	margin-top: 1.5rem;
}

main *+*:not(p) {
	margin: 3rem 0;
}

main p {
	line-height: 1.5;
}

main a {
	text-decoration: none;

	background-image: linear-gradient(to right,
			currentColor 0%,
			currentColor 100%);
	background-repeat: repeat-x;
	background-position: bottom 0.05em center;
	background-size: 100% 0.05em;
	text-shadow: 0.05em 0 0 #fff, -0.05em 0 0 #fff, 0 0.05em 0 #fff,
		0 -0.05em 0 #fff, 0.1em 0 0 #fff, -0.1 0 0 #fff, 0 0.1 0 #fff,
		0 -0.1em 0 #fff;
}

main a:hover,
main a:focus {
	background-color: #cef;
}

blockquote {
	font-style: italic;

	padding-left: 1rem;

	color: #666;
	border-left: 5px solid lightgray;
}

figcaption {
	font-size: 0.88rem;

	margin: 0.5rem 0 3rem !important;
}
