@import 'normalize.scss';

$cs_white: #fff;
$cs_lightgray: #eee;
$cs_gray: #666;
$cs_darkgray: #222;
$cs_black: #000;

$cs_pink: rgb(251,0,81);
$cs_blue_light: #cef;

$cs_highlight: $cs_blue_light;

* { box-sizing: border-box; }
html { font-size: 100%; }

body {
  background-color: $cs_lightgray;
  color: $cs_darkgray;
  // TODO: load font properly!
  font-family: 'Merriweather', serif;
}
