.hidden-mobile
{
    @media (max-width: $break_medium)
    {
        display: none;
    }
}

.is-centered
{
    text-align: center;
}

.is-hidden
{
    display: none;
}

.pull-left
{
    float: left;
}
.pull-right
{
    float: right;
}

.pad-bottom
{
    padding-bottom: 2em;
}
