/* @import rwd02_medium.css */
/* @import rwd02_large.css */

* { box-sizing: border-box; }

html { font-size: 100%; }

body {
  background-color: #00527F;
  font: 100%/1.4 Arial, sans-serif;
}

header {
  background-color: #0084CC;
  color: white;
  padding: 1rem;
  text-align: center;
}

.contain {
  background-color: white;
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
}

aside {
  background-color: #4DC0FF;
  padding: 1rem;
}
