/*
#    /$$$$$$            /$$
#   /$$__  $$          | $$
#  | $$  \__/  /$$$$$$ | $$  /$$$$$$   /$$$$$$
#  | $$       /$$__  $$| $$ /$$__  $$ /$$__  $$
#  | $$      | $$  \ $$| $$| $$  \ $$| $$  \__/
#  | $$    $$| $$  | $$| $$| $$  | $$| $$
#  |  $$$$$$/|  $$$$$$/| $$|  $$$$$$/| $$
#   \______/  \______/ |__/ \______/ |__/
#
#
#
$cs_lightest:  #4DC0FF
$cs_light:     #4DC0FF
$cs:           #0084CC
$cs_dark:      #26607F
$cs_darkest:   #00527F
*/


* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	background-color: #00527F;
	font: 100%/1.4 Arial, sans-serif;
}

header {
	background-color: #0084CC;
	color: white;
	padding: 1rem;
	text-align: center;
}

.contain {
	background-color: white;
	margin: 1rem auto;
	padding: 1rem;
	width: 80%;
}

aside {
	background-color: #4DC0FF;
	padding: 1rem;
}

@media (min-width: 37.5rem) {

	/* 600px */
	.contain {
		overflow: auto;
		width: 100%;
	}

	header {
		text-align: left;
	}

	main,
	aside {
		float: left;
	}

	main {
		padding-right: 1rem;
		width: 60%;
	}

	aside {
		width: 40%;
	}
}

@media (min-width: 56.25rem) {

	/* 900px */
	body {
		background-color: #900;
	}

	header {
		background-color: red;
	}

	main,
	aside {
		width: 50%;
	}
}
