@import '../../normalize.css';

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  color: #666;
  font: 100%/1.4 'Roboto', sans-serif;
  padding: 3rem;
}

img {
  max-width: 100%;
  margin-bottom: 1.5rem;
}

p {
  margin: 0 0 1.5rem;
}

h1,
h2 {
  margin: 0 0 0.75rem;
}

h1 {
  color: #5c7d91;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: center;
}

.standfirst {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

aside {
  font-size: 0.9rem;
}

.ad {
  background-color: #990000;
  color: white;
  padding: 1rem;
  text-align: center;
}

.ad p {
  margin-bottom: 0;
}

br {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 1fr;
    column-gap: 1rem;
    padding: 1rem;
  }

  h1 {
    text-align: left;
  }

  .standfirst {
    font-size: 110%;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  main {
    grid-column-start: 2;
  }

  aside {
    display: none;
  }

  .ad {
    grid-row-start: 2;
    max-height: 210px;
    max-width: 210px;
    align-self: end;
    justify-self: end;
    position: relative;
    top: -1.5rem;
    font-size: 90%;
  }
}

@media screen and (min-width: 1024px) {
  img {
    grid-area: img;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
    display: block;
  }

  .ad {
    grid-area: ad;
  }

  body {
    margin: 0 auto;
    max-width: 62.5rem; /* 1000px */

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    grid-template-areas:
      '.      header  img'
      'aside  main    .'
      '.      main    ad';
  }

  h1,
  .standfirst {
    padding-left: 0;
  }
}

@media screen and (min-width: 1100px) {
  /* ⚠️ Set display: none for all and work one at a time! */
  body {
    max-width: 1100px;
    margin: 0 auto;

    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
  }

  img {
    grid-row: 1 / span 2;
    grid-column: span 2;
    margin: 0;
  }

  header {
    grid-row: 3 / span 4;
    grid-column: 2 / span 6;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  header h1 {
    /* flex-grow: 3;
		flex-basis: 50%;
		flex-shrink: 0; */
    flex: 3 0 51%;

    font-size: 900%;
    letter-spacing: -0.08em;
    line-height: 0.8;
    text-align: right;

    position: relative;
    left: -26px;
  }

  /* ⚠️ Add break tags to heading */
  header h1 br {
    display: block;
  }

  main {
    /* display: none; */
    grid-row: 4 / span 4;
    grid-column: 5 / span 3;
  }

  main h2 {
    margin-bottom: 0;
  }

  aside {
    display: none;
  }

  .ad {
    /* display: none; */
    grid-row: 6;
    grid-column: 8;

    font-size: 80%;
    overflow: hidden;
    position: static;
  }

  .ad p {
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}
