@mixin advancedtype {
  //font-variant-ligatures: contextual;               // Set the default for ligatures
  //-moz-font-feature-settings: "liga=1,dlig=1";      // Ligature settings for mozilla
  font-kerning: normal;                 // Set the default for kerning
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;  // Improve (or in some cases royally screw with) safari's legibility somewhat
  -moz-osx-font-smoothing: grayscale;
  //font-synthesis: none;               // Don't allow the font to create sythetic bold/italic
  text-rendering: optimizeLegibility;   // Improve kerning pairs. Webkit gets funny with this sometimes
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
}

@mixin highlighted-bold-text
{
  font-weight: bold;
  background-color: #ffa;
}

@mixin transition($args)
{
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
