* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

.parent {
	background-color: #bd10e0;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.child {
	background-color: #f5a623;
	width: 12.5rem;
	height: 12.5rem;
}
