* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

.navigation {
	list-style: none;
	margin: 0;

	background: deepskyblue;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	padding: 0;
}

.navigation a {
	color: white;
	display: block;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation a:hover {
	background: darkblue;
}


@media all and (min-width: 600px) {
	.navigation {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;

		justify-content: space-around;
	}

	.navigation a {
		border: none;
	}
}

@media all and (min-width: 800px) {
	.navigation {
		justify-content: flex-end;
	}
}
